<div class="group px-20 pt-10">
  <label class="inline-block w-full text-sm font-medium text-gray-500 transition-all duration-200 ease-in-out group-focus-within:text-blue-400">Scrape a new product</label>
  <div class="relative flex items-center">
    <input
      [(ngModel)]="productUrl"
      placeholder="www.example-product-url.com"
      type="text"
      class="peer relative h-10 w-full rounded-md bg-gray-50 pl-4 pr-20 font-thin outline-none drop-shadow-sm transition-all duration-200 ease-in-out focus:bg-white focus:drop-shadow-lg"
    />
    <button
      (click)="scrape()"
      class="absolute right-2 h-7 w-16 rounded-md bg-blue-200 text-xs font-semibold text-white transition-all duration-200 ease-in-out group-focus-within:bg-blue-400 group-focus-within:hover:bg-blue-600"
    >
      Scrape
    </button>
  </div>
</div>
<div class="flex items-center justify-center" >
  <div class="group mx-10 mt-10">
    <label class="inline-block w-full text-sm font-medium text-gray-500 transition-all duration-200 ease-in-out group-focus-within:text-blue-400">Products</label>
    <div class="relative flex items-center">
      <input [formControl]="searchControl" placeholder="Search products" type="text" class="peer relative h-10 w-full rounded-md bg-gray-50 pl-4 pr-20 font-thin outline-none drop-shadow-sm transition-all duration-200 ease-in-out focus:bg-white focus:drop-shadow-lg" />
    </div>
  </div>
  <div class="group mx-10 mt-10">
    <label class="inline-block w-full text-sm font-medium text-gray-500 transition-all duration-200 ease-in-out group-focus-within:text-blue-400">Category</label>
    <select [formControl]="categoryControl" placeholder="Select Category" class="peer relative h-10 w-full rounded-md bg-gray-50 pl-4 pr-20 font-thin outline-none drop-shadow-sm transition-all duration-200 ease-in-out focus:bg-white focus:drop-shadow-lg">
    <button class="absolute right-2 h-7 w-16 rounded-md bg-blue-200 text-xs font-semibold text-white transition-all duration-200 ease-in-out group-focus-within:bg-red-400 group-focus-within:hover:bg-red-600">Clear</button>
      @for (category of categories$ | async; track $index) {
        <option [value]="category.name">{{ category.name }}</option>
      }
    </select>
  </div>
</div>
<div class="grid 2xl:grid-cols-5 xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-x-6 gap-y-12 w-full mt-6 p-10">
  @for (product of products$ | async; track $index) {
    <div>
      <a [routerLink]="['/product', product.id]" class="block h-64 rounded-lg shadow-lg">
        <img [src]="product.image_url" class="object-cover w-full h-full" alt="Product Image">
      </a>
      <div class="flex items-center justify-between mt-3">
        <div>
          <a [routerLink]="['/product', product.id]" class="font-medium">{{product.title}}</a>
          <div class="flex items-center">
            <span class="text-xs font-medium text-gray-600">by</span>
            <span class="text-xs font-medium ml-1 text-blue-400">{{product.contact_info}}</span>
          </div>
        </div>
        <span class="flex items-center h-8 bg-blue-200 text-blue-500 text-sm px-2 rounded">{{product.price_amount}}</span>
      </div>
    </div>
  } @empty {
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="text-5xl flex items-center justify-center pt-20">
      No Products Found
    </div>
  }
</div>
<div class="pagination fixed bottom-0 w-full flex justify-center mt-10 space-x-1">
  <button
    (click)="previousPage()"
    [disabled]="(currentPage$ | async) === 1"
    class = "flex items-center justify-center h-8 px-2 rounded text-sm font-medium"
    [ngClass]="{
      'text-gray-400': (currentPage$ | async) === 1,
      'hover:bg-blue-200 text-gray-600 hover:text-blue-600': (currentPage$ | async) !== 1
    }"
  >
    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
    </svg>
    Prev
  </button>
  <button class="flex items-center justify-center h-8 w-8 rounded hover:bg-blue-200 text-sm font-medium text-gray-600 hover:text-blue-600">
    <select
      [ngModel]="currentPage$ | async"
      (change)="setPage($event)"
    >
      @for (page of pages; track $index) {
        <option [value]="page">{{ page }}</option>
      }
    </select>
  </button>
  <button
    (click)="nextPage()"
    [disabled]="(currentPage$ | async) === totalPages"
    class = "flex items-center justify-center h-8 px-2 rounded text-sm font-medium"
    [ngClass]="{
      'hover:bg-blue-200 text-gray-600 hover:text-blue-600': (currentPage$ | async) !== totalPages,
      'text-gray-400': (currentPage$ | async) === totalPages
    }"
  >
    Next
    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
    </svg>
  </button>
</div>
